<h1>SHIT SYNOPSIS GENERATOR</h1>
<p><%= @plot %> <%= @funnyBits %></p>
<p><%= @presentation %><p>
<p><%= @rating %></p>
<p><%= @length %></p>
<p>written by <a href="http://twitter.com/jonwoodtweets">jonny wood</a> and <a href="http://twitter.com/chrisalcockdev">chris alcock</a>
