<h1>RANDOM SYNOPSIS GENERATOR</h1>
<h2><i>
  <p><%= @plot %> <%= @funnyBits %></p>
  <p><%= @presentation %><p>
  <p><%= @rating %></p>
  <p><%= @length %></p>
</i></h2>
<br>
<p>refresh the page for more handsome, classy and very well-spoken synopses</p>
<br>
<p>written by
  <a href="http://twitter.com/jonwoodtweets" target="blank">
    jonny wood
  </a>
  and
  <a href="http://twitter.com/chrisalcockdev" target="blank">
    chris alcock
  </a>
</p>
