<h1>TOTES RANDO SYNOPSIS GENERATOR</h1>
<p><%= @plot %> <%= @funnyBits %></p>
<p><%= @presentation %><p>
<p><%= @rating %></p>
<p><%= @length %></p>
<p>refresh the page for more handsome, classy and very well-spoken synopses</p>
<p>written by
  <a href="http://twitter.com/jonwoodtweets" target="blank">
    jonny wood
  </a>
  and
  <a href="http://twitter.com/chrisalcockdev" target="blank">
    chris alcock
  </a>
</p>
